a {
    color: #000;
  }
  
  /* header */

  .post-nav {
    padding-top: 6em;
  }

  .header {
    width: calc(100% - 2em);
    z-index: 3;
    position: absolute;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: .75em 1em;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: .35em .5em;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 2em 1.5em;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 2em;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 9px;
  }
  
  .header .menu-icon .navicon:after {
    top: -9px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 51em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 1.39em 2em;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  


  #content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
    margin-bottom: 1em;
    background-color: black;
    color: white;
    padding: 2em;
  }

  .intro{
    margin-bottom: 1em;
    .img-container {
      aspect-ratio: 4/3;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  
  .post {
    margin-bottom: 1em;
    .img-container {
      aspect-ratio: 1/1;
    }
    .post-stuff {
      display: flex;
      align-items: flex-start;
    }
    p {
      margin-top: 0;
    }
    img {
      width: 33%;
      height: auto;
      display: block;
      margin-right: 1em;
    }
  }
  
  .big-post {
    border:1px solid black;
    margin-bottom: 1em;
    .img-container {
      aspect-ratio: 4/3;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  
  .post:last-child, .big-post:last-child {
    margin-bottom: 0;
  }

  /* media queries */
@media only screen and (max-width: 768px) {
  
    body {
      font-size: 16px;
    }
  
    masthead {
      text-align: center;
      flex-flow: column nowrap;
    }
    masthead ul {
      margin-bottom: 0;
    }
    masthead h1 {
      margin-right: 0;
    }
    masthead img {
      margin-right: 0;
    }

    #content {
        padding: 1em;
        gap: 1em;
        grid-template-columns: 1fr;
      }
      .main {
        order: 1;
      }
      .sidebar {
        order: 2;
      }
  
  }